<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>客户端首页</title>
    <link rel="stylesheet" href="../../bootstrap-4.0.0-dist/css/bootstrap.css">
</head>

<body>
    <div class="main" style="width: 40%;margin-left: 20%">
		
        <div><a class="btn btn-info" href="hoList.html" style="margin-top: 20%;margin-bottom: 2%;width: 200px;">健康服务预约</a></div>
        <div><a class="btn btn-info" href="userDataList.html" style="margin-top: 2%;margin-bottom: 2%;width: 200px;">查看数据</a></div>
        <div><a class="btn btn-info" href="duoApplyList.html" style="margin-top: 2%;margin-bottom: 2%;width: 200px;">数据访问请求</a></div>
	</div>

</body>

<script src="../../js/jquery-3.1.1.js"></script>
<script src="../../bootstrap-4.0.0-dist/js/bootstrap.bundle.js"></script>
<script src="../../bootstrap-4.0.0-dist/js/bootstrap.js"></script>

<script>


</script>
	
</html>